<div class="entry">
<div class="bobcomments">
    <ol class="commentlist">
        {% assign pagename = page.url | remove: "/" %}
        {% assign comments = site.data.comments.[pagename] %}

        <li class="commenthead"><h3 id="comments">{{ comments.size }} Responses</h3></li>

        {% for comment in comments %}
        <li>
            <p style="margin-bottom:5px;">By <strong>{{ comment.author }}</strong> on {{ comment.datetime }}</p>
            <p>
            {% for line in comment.comment %}
            {{ line }}<br/>
            {% endfor %}
            </p>
        </li>
        {% endfor %}
    </ol>
</div>
</div>