<div id="sidebar">
    <div class="rsidebar">
        <ul>
            <li> <h2>About</h2>
                <p>Chummy and Alan have walked around the coast of South Africa to raise awareness for the outdoors and Phakamisa Ministry.</p>
                <p>It took them 168 days and covered 2400km between the 15th January and the 1st of July 2009.</p>
            </li>

            <li class="pagenav"><h2>Pages</h2>
                <ul><li><a href="/">Home</a></li></ul>
                <ul><li class="page_item page-item-3"><a href="/contact-us/" title="Contact Us">Contact Us</a></li>
                    <li class="page_item page-item-5"><a href="/diary-and-map/" title="Diary (day based)">Diary (day based)</a></li>
                    <li class="page_item page-item-96"><a href="/map/" title="Diary (interactive map)">Diary (interactive map)</a></li>
                    <li class="page_item page-item-10"><a href="/phakamisa-ministry/" title="Phakamisa Ministry">Phakamisa Ministry</a></li>
                    <li class="page_item page-item-15"><a href="/the-hikers-alan-and-chummy/" title="The Hikers - Alan and Chummy">The Hikers - Alan and Chummy</a>
                    <li class="page_item page-item-5"><a href="/preparation/" title="Preparation">Preparation</a></li>
                </ul>
            </li>

            <li id="linkcat-2" class="linkcat"><h2>Links</h2>
                <ul class='xoxo blogroll'>
                    <li><a href="http://www.kaalvoetsolo.co.za/" title="Site that follows Jaco&#8217;s trip around the SA border.">Kaalvoet Solo (Jaco)</a></li>

                </ul>
            </li>
            <li id="linkcat-7" class="linkcat"><h2>Trails</h2>
                <ul class='xoxo blogroll'>
                    <li><a href="http://www.strandlopertrails.org.za/" title="Booking and Trail information for the Strandloper Trail">Strandloper</a></li>

                </ul>
            </li>

            <li>
                <h2>Recent Posts</h2>
                <ul>

                    {% for post in site.posts limit:10 %}
                    <li><a href='{{ post.url }}' title='{{ post.title }}'>{{ post.title }}</a></li>
                    {% endfor %}
                </ul>

            </li>

        </ul>
        <br/>

    </div>

</div>