<div id="sidebar">
    <div class="rsidebar">
        <ul>
            <li> <h2>About</h2>
                <p>Chummy and Alan have walked around the coast of South Africa to raise awareness for the outdoors and Phakamisa Ministry.</p>
                <p>It took them 168 days and covered 2400km between the 15th January and the 1st of July 2009.</p>
            </li>

            <li class="pagenav"><h2>Pages</h2>
                <ul><li><a href="/">Home</a></li></ul>
                <ul><li class="page_item page-item-3"><a href="/contact-us/" title="Contact Us">Contact Us</a></li>
                    <li class="page_item page-item-5"><a href="/diary-and-map/" title="Diary (day based)">Diary (day based)</a></li>
                    <li class="page_item page-item-96"><a href="/map/" title="Diary (interactive map)">Diary (interactive map)</a></li>
                    <li class="page_item page-item-7"><a href="/how-can-i-help/" title="How can I help?">How can I help?</a></li>
                    <li class="page_item page-item-10"><a href="/phakamisa-ministry/" title="Phakamisa Ministry">Phakamisa Ministry</a></li>
                    <li class="page_item page-item-15"><a href="/the-hikers-alan-and-chummy/" title="The Hikers - Alan and Chummy">The Hikers - Alan and Chummy</a></li>
                </ul>
            </li>

            <li id="linkcat-2" class="linkcat"><h2>Links</h2>
                <ul class='xoxo blogroll'>
                    <li><a href="http://www.kaalvoetsolo.co.za/" title="Site that follows Jaco&#8217;s trip around the SA border.">Kaalvoet Solo (Jaco)</a></li>

                </ul>
            </li>
            <li id="linkcat-7" class="linkcat"><h2>Trails</h2>
                <ul class='xoxo blogroll'>
                    <li><a href="http://www.strandlopertrails.org.za/" title="Booking and Trail information for the Strandloper Trail">Strandloper</a></li>

                </ul>
            </li>



            <li>
                <h2>Recent Posts</h2>
                <ul>
                    <li><a href='http://www.cape2kosi.com/2009/08/25/parting-thoughts-from-chummy/' title='Parting Thoughts from Chummy'>Parting Thoughts from Chummy</a></li>
                    <li><a href='http://www.cape2kosi.com/2009/07/01/hiking-day-168/' title='Hiking Day 168 - 1st July: Kosi Bay'>Hiking Day 168 - 1st July: Kosi Bay</a></li>
                    <li><a href='http://www.cape2kosi.com/2009/06/30/hiking-day-167/' title='Hiking Day 167 - 30th June: Fish Eagle Day'>Hiking Day 167 - 30th June: Fish Eagle Day</a></li>
                    <li><a href='http://www.cape2kosi.com/2009/06/29/hiking-day-166/' title='Hiking Day 166 - 29th June: Sand Blasting'>Hiking Day 166 - 29th June: Sand Blasting</a></li>
                    <li><a href='http://www.cape2kosi.com/2009/06/28/hiking-day-165/' title='Hiking Day 165 - 28th June: Mabibi Campsite'>Hiking Day 165 - 28th June: Mabibi Campsite</a></li>
                    <li><a href='http://www.cape2kosi.com/2009/06/27/hiking-day-164/' title='Hiking Day 164 - 27th June: High Seas'>Hiking Day 164 - 27th June: High Seas</a></li>
                    <li><a href='http://www.cape2kosi.com/2009/06/26/hiking-day-163/' title='Hiking Day 163 - 26th June: More Rest at Sodwana'>Hiking Day 163 - 26th June: More Rest at Sodwana</a></li>
                    <li><a href='http://www.cape2kosi.com/2009/06/25/hiking-day-162/' title='Hiking Day 162 - 25th June: Rest Day at Sodwana'>Hiking Day 162 - 25th June: Rest Day at Sodwana</a></li>
                    <li><a href='http://www.cape2kosi.com/2009/06/24/hiking-day-161/' title='Hiking Day 161 - 24th June: T -1 Week To Go'>Hiking Day 161 - 24th June: T -1 Week To Go</a></li>
                    <li><a href='http://www.cape2kosi.com/2009/06/23/hiking-day-160/' title='Hiking Day 160 - 23rd June: Long walking day'>Hiking Day 160 - 23rd June: Long walking day</a></li>
                    <li><a href='http://www.cape2kosi.com/2009/06/22/hiking-day-159/' title='Hiking Day 159 - 22nd June: Waiting and waiting'>Hiking Day 159 - 22nd June: Waiting and waiting</a></li>
                    <li><a href='http://www.cape2kosi.com/2009/06/21/hiking-day-158/' title='Hiking Day 158 - 21st June: Wind to Cape Vidal'>Hiking Day 158 - 21st June: Wind to Cape Vidal</a></li>

                </ul>
            </li>

        </ul>
        <br/>

    </div>

</div>